* {
    font-size: 1em;
}

p {
    margin: 0px;
    padding: 0px;
}

#keyboard {
    background-color: white;
    width: 240px;
    display: block;
}

#keyboard #display {
    background-color: darkcyan;
    height: 30px;
    text-align: justify;
    font-size: 2em;
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#keyboard button {
    border-width: 1px;
    height: 60px;
    width: 60px;
    border-color: aquamarine;
    cursor: pointer;
}

button:focus {outline:0;}

#keyboard .op {
    border-width: 1px;
    border-color: aquamarine;
    color: darkgray;
    background-color: darkgreen;
}

#keyboard #zero {
    text-align: left;
}

#keyboard #zero #null {
    width: 120px;
}
